body {
  background-color:#512DA8;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  overflow-x: hidden;
}

.loader-bck {
  background-color: #D8D8D8;
  opacity: 0.45;
  /*z-index: 10;*/
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.footer {
  margin-top: 40px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 18px;
  font-family: cousine;
  color: #ffffff;
  margin-right: 40px;
}

.instructions-and-link,
.instructions-and-link a {
  font-family: cousine;
  color: #F8E71C;
}

.giant-letter {
  font-size: 400px;
  font-family: cousine;
  color: #ffffff;
  min-height: 460px;
  margin-bottom: -20px;
  margin-top: 30px;
  mix-blend-mode: overlay;
  animation: glow 0.5s infinite alternate;
}

.giant-letter.ending {
  animation: buzz 0.5s;
}

.press-start {
  font-family: 'press start 2p';
  color: #F8E71C;
  line-height: 1.5;
  height: 30px;
}

.social-btn {
  height:24px;
  opacity:0.7;
}

.left {
  float: left;
}

.right {
  float: right;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px #fff;
    }
}

@keyframes buzz {
		0% {
			transform: rotate(0);
		}

		10%, 30%, 50%, 70%, 90% {
			transform: rotate(6deg);
		}

		20%, 40%, 60%, 80% {
			transform: rotate(-6deg);
		}

		100% {
			transform: rotate(0);
		}
	}
